/* Harmonisation des règles générales. */
.bg-primary {
    background-color: #1d3557 !important;
}

.text-primary {
    color: #1d3557 !important;
}

.bg-secondary {
    background-color: #a8dadc !important;
}

/* Enter / Header */
header {
    height: 100vh;
    padding-top: 33vh;
}

h1 {
    font-family: 'Cinzel', serif;
    color: #f1faee;
    font-size: 10vw;
}


h2 {
    color: #a8dadc;
    font-weight: lighter;
    font-size: 3vw;
}

.btnEnter {
    border-color: #f1faee !important;
    background-color: #a8dadc !important;
    font-weight: 400;
    font-size: 12x;
    text-transform: uppercase;
}

/* Nav  */

nav {
    height: 100vh;
    padding-top: 33vh;
}