/* Harmonisation des règles générales. */
html {
    scroll-behavior: smooth;
  }

.scrollup {
    right: -300px;
}
a{
    text-decoration: none!important;
    color: #f1faee !important;
}

.fas {
    opacity: 50%;
}
.fas:hover {
    opacity: 90%;

}

.bg-primary {
    background-color: #1d3557 !important;
}

.text-primary {
    color: #1d3557 !important;
}

.bg-secondary {
    background-color: #a8dadc !important;
}

.btn {
    padding-left: 60px;
    padding-right: 60px;

    background: #e63946!important;
}

.text-white {
    color: #f1faee !important;
}

section {
    height: 100vh;
}

/* Enter / Header */
header {
    height: 55vh;
    padding-top: 33vh;
}

h1 {
    font-family: 'Cinzel', serif;
    color: #f1faee;
    font-size: 10vw;
}


h2 {
    color: #a8dadc;
    font-weight: lighter;
    font-size: 3vw;
}

.btnEnter {
    border-color: #f1faee !important;
    background-color: #a8dadc !important;
    font-weight: 400;
    font-size: 12x;
    text-transform: uppercase;
}

/* Nav  */

nav {
    height: 100vh;
    padding-top: 33%;
    padding-bottom: 33%;
}

.resumebtn {
    background-color: #a8dadc18;
    border-radius: 5px;
    padding: 2rem;
}


/* Section aboutMe */

#aboutme {
    background-image:  linear-gradient(#1d35575b,#1d35575b) , url(../img/photo-tete.jpg);
    background-position:right;
    background-size:cover;
}