/* Harmonisation des règles générales. */
html {
    scroll-behavior: smooth;
}

p {
    font-size: 11px;
}

.scrollup {
    right: -300px;
}

a {
    text-decoration: none !important;
    color: #f1faee !important;
}

.fas {
    opacity: 50%;
}

.fas:hover {
    opacity: 90%;

}

.bg-primary {
    background-color: #1d3557 !important;
}

.text-primary {
    color: #1d3557 !important;
}

.bg-secondary {
    background-color: #a8dadc !important;
}

.text-white {
    color: #f1faee !important;
}

.btn {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 14px;
    background: #e63946 !important;
}

/* Enter / Header */
header {
    min-height: 100vh;
    padding-top: 40vh;
}

h1 {
    font-family: 'Cinzel', serif;
    color: #f1faee;
    font-size: 10vw;
}


h2 {
    color: #a8dadc;
    font-weight: lighter;
    font-size: 3vw;
}

.btnEnter {
    border-color: #f1faee !important;
    background-color: #a8dadc !important;
    font-weight: 400;
    font-size: 12x;
    text-transform: uppercase;
}

/* Nav  */

nav {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.resumebtn {
    background-color: #a8dadc18;
    border-radius: 5px;
    padding: 2rem;
}


/* Section aboutMe */

#aboutme {
    box-shadow: inset 0px 0px 15px 0.5px rgba(0, 0, 0, 0.171);
    background-image: radial-gradient(rgba(255, 255, 255, 0.267) , rgba(75, 0, 0, 0.137) ),linear-gradient(#fffeee5b, #1d3557c9), url(../img/photo-tete.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}
.boxImgCv
{
    height: 150px; border-radius: 10px;
    background-image: url(../img/cv-miniature.jpg); 
    background-size:contain; background-position:center; background-repeat: no-repeat;
}