/* Harmonisation des règles générales. */

.bg-primary {
    background-color: #1d3557!important;
}

/* header */

header {
    height:100vh;
    padding-top: 33vh;
}

h1 {
    font-family: 'Cinzel', serif;
    color: #f1faee;
    font-size: 80px;
}

h2 {
    color: #a8dadc;
    font-weight: 100;
}